*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    height: 50px;
    margin-bottom: 10px;
}
main{
    width: 100vw;
    height: 90vh;
    background-color: gainsboro;
}

section{
    width: 80%;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
button{
    height: 55px;
    max-width: 120px;
    align-self: center;
    padding: 5px;
}
.video-player{
    width: 100%;
}
.video-player__controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0;
}
.comments{
    padding: 20px;
}
.comments p{
    padding: 10px 0;
}

ads {
    padding: 4px;
    padding-right: 8px;
    background: white;
    width: 80%;
  
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .ads__link {
    display: flex;
    color: inherit;
    text-decoration: inherit;
  }
  
  .ads__img {
    width: 80px;
    min-width: 80px;
    height: 80px;
    margin-right: 16px;
  }
  
  .ads__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ads__title {
    margin: 0;
  }
  .ads__body {
    margin: 0;
  }